body {
    background: #272828;
    margin: 3vw;
    font-family: sans-serif;
    font-size: 10pt;
    color: #00ffa9;
}

input {
    width: 80%;
    border: 2px solid #00ffa9;;
    border-radius: 4px;
    background-color: #272828;
    font-family: sans-serif;
    font-size: 12pt;
    color: white;
}

button {
    width: 100px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #272828;
    font-size: 12pt;
    color: white
}

.field {
    padding-top: 20px;
}